<nav class="navbar">
  <a routerLink="/" class="navbar__brand">
    <img src="brasao-ce.png" alt="Brasão do Estado do Ceará" class="navbar__logo" />
    <div class="navbar__text">
      <p class="navbar__title">PGE Rides</p>
      <p class="navbar__subtitle">Procuradoria Geral do Estado do Ceará</p>
    </div>
  </a>

  <div class="navbar__links">
    <a routerLink="/client" routerLinkActive="navbar__link--active" class="navbar__link">
      Interface do Cliente
    </a>
    <a routerLink="/driver" routerLinkActive="navbar__link--active" class="navbar__link">
      Interface do Motorista
    </a>
    <a routerLink="/history" routerLinkActive="navbar__link--active" class="navbar__link">
      Histórico
    </a>
  </div>
</nav>
